$primary-color: hsl(0, 100%, 74%);
$pink-font: #c54c52;

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: url("/Challenge/images/bg-intro-desktop.png")center/cover no-repeat;
	background-color: lightgrey;
	font-family: 'Poppins', sans-serif;
	max-height: 100vh;
}

.container {
	background: url("/Challenge/images/bg-intro-desktop.png")center/cover no-repeat;
	background-color: hsl(0, 100%, 74%);
	max-width: 90%;
	display: grid;
	grid-gap: 20px;
	margin: 4% auto;
	grid-template-columns: 1fr 1fr;
	.content {
		color: #fff;
		margin: auto;
		float: left;
		width: 80%;
		text-align: left;
		margin-left: 7rem;
		h1 {
			font-size: 2.5rem;
			font-weight: 700;
		}
		span {
			font-weight: 600;
		}
	}
	.sign-up {
		float: right;
		width: 50%;
		margin-top: 3em;
		margin-bottom: 3em;
		.btn {
			text-align: center;
			button {
				background: #6055a5;
				outline: none;
				border: none;
				font-size: 16px;
				cursor: pointer;
				border-radius: 5px;
				width: 29rem;
				padding: 1rem;
				color: #fff;
				text-align: center;
				box-shadow: 0px 6px 5px 0px rgba(97, 90, 97, 0.69);
				.font-800 {
					font-weight: 800;
				}
				.font-100 {
					font-weight: 100;
				}
			}
			button:active {
				box-shadow: none;
			}
		}
		.sign-up-form {
			width: 29rem;
			background-color: #fff;
			.form {
				position: relative;
				background: #fff;
				margin-top: 1em;
				padding: 3em;
				border-radius: 5px;
				box-shadow: 0px 6px 5px 0px rgba(97, 90, 97, 0.69);
				input {
					position: inherit;
					border: 1px solid #efefef;
					border-radius: 5px;
					display: block;
					padding: 1rem;
					width: 22.2rem;
					outline: none;
				}
				input:nth-child(n + 2) {
					margin-top: 1rem;
				}
				input::placeholder {
					font-weight: 600;
					font-size: 14px;
				}
				input[placeholder]:hover {
					border-left: 1px solid black;
					border-right: 1px solid black;
					border-top: 1px solid black;
				}
				span {
					font-size: 10px;
					display: block;
					text-align: right;
					width: 22rem;
					color: $pink-font;
					font-weight: 500;
				}
				.button {
					background: hsl(154, 59%, 51%);
					padding: 1rem;
					border-radius: 5px;
					margin-top: 1rem;
					color: #fff;
					font-size: 16px;
					width: 22.2rem;
					border: none;
					font-weight: 600;
					text-transform: uppercase;
					cursor: pointer;
					box-shadow: 0 4px hsl(246, 25%, 77%);
				}
				.button:active {
					background-color: hsl(152, 7%, 47%);
				}
				.button:hover {
					background-color: hsl(151, 82%, 79%);
					box-shadow: 0 3px rgb(129, 172, 148);
					top: 2px;
				}
				p {
					font-size: 10px;
					text-align: center;
					font-weight: 100;
					color: #cdcad2;
					a {
						text-decoration: none;
						font-weight: 900;
						color: $pink-font;
					}
				}
			}
		}
	}
}

.invalid-form-text {
	background: url(/Challenge/images/icon-error.svg);
	background-position: 95%;
	background-repeat: no-repeat;
	border: 2px solid $pink-font;
	color: $pink-font;
}

.holder-color::placeholder {
	color: $pink-font;
}
.holder-color {
	background: url(/Challenge/images/icon-error.svg);
	background-position: 95%;
	background-repeat: no-repeat;
}
.attribution {
	position: relative;
	text-align: center;
	color: rgb(20, 19, 19);
	margin-top: 2rem;
	a {
		text-decoration: none;
		font-weight: 600;
	}
}
.attribution a:hover {
	color: hsl(0, 100%, 74%);
}
